name: Release

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
    inputs:
      runner:
        description: 'Choose runner'
        default: 'self-hosted'
        type: choice
        options:
          - self-hosted
          - ubuntu-latest

permissions:
  contents: write
  id-token: write

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.set-runner.outputs.runner }}
    steps:
      - name: Determine runner
        id: set-runner
        run: |
          SELECTED_RUNNER="${{ github.event.inputs.runner }}"
          if [ -z "$SELECTED_RUNNER" ]; then
            SELECTED_RUNNER="self-hosted"
          fi
          echo "runner=$SELECTED_RUNNER" >> $GITHUB_OUTPUT

  release:
    needs: setup
    runs-on: ${{ needs.setup.outputs.runner }}
    concurrency: release
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v9.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish package distributions to PyPI
        if: steps.release.outputs.released == 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}

      - name: Publish package distributions to GitHub Releases
        if: steps.release.outputs.released == 'true'
        uses: python-semantic-release/upload-to-gh-release@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.release.outputs.tag }}
